* {
    margin: 0;
    padding: 0;
}

.book-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    padding: 0px 12.5%;
}

.book-card {
    display: flex;
    flex-direction: column;

    padding: 16px 24px;
    border-radius: 6px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.book-card h2 {
    margin-bottom: 12px;
}

.book-card p {
    font-weight: lighter;
    font-style: italic;
    color: rgb(122, 122, 122);
}

.book-card p:last-of-type {
    margin-bottom: 8px;
}